* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-touch-callout: none;
  cursor: pointer;

  &:focus,
  &:active,
  &:hover {
    outline: none;
  }

  img {
    vertical-align: top;
  }
}

img {
  border: none;
}

html {
  text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
}

input,
button,
textarea,
select,
option {
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
